{% extends 'admin/base.html' %}
{% block title %}
<title>上传markdown文件</title>
{% endblock %}
{% block row %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <div class="row">
        <form action="{% url 'admin:markdown' %}" method="post" enctype="multipart/form-data" class="add-article-form" id="markdown_form">
          <div class="col-md-9">
            <h1 class="page-header">撰写新文章</h1>
            <div class="form-group">
              <label for="article-title" class="sr-only">标题</label>
              <input type="text" id="article-title" name="title" class="form-control" placeholder="在此处输入标题" required autofocus autocomplete="off">
            </div>
            <div class="form-group">
              <label for="article-content" class="sr-only">上传markdown格式文章</label>
              <input type="file" value="上传markdown文件" class="form-control" accept="md" style="display:none" id="md_file" name="md_file"/>
              <input type="button" value="上传markdown文件" class="form-control btn btn-primary" id="qd">
              <script>
                $(function(){
                    $("#qd").on("click", function(){
                        $("#md_file").click()
                    })
                    $("#md_file").on("change", function(){
                        console.log("我是谁")
                    })
                })
              </script>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>关键字</span></h2>
              <div class="add-article-box-content">
              	<input type="text" class="form-control" placeholder="请输入关键字" name="keywords" autocomplete="off">
                <span class="prompt-text">多个标签请用英文逗号,隔开。</span>
              </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>描述</span></h2>
              <div class="add-article-box-content">
              	<textarea class="form-control" name="describe" autocomplete="off"></textarea>
                <span class="prompt-text">描述是可选的手工创建的内容总结，并可以在网页描述中使用</span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h1 class="page-header">操作</h1>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>类型</span></h2>
              <div class="add-article-box-content">
                <ul class="category-list">
                  {% for category in category_list %}
                    <li>
                      <label>
                        <input name="category" type="radio" value="{{ category.id }}" checked>
                        {{ category.name }}
                      </label>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>标签</span></h2>
              <div class="add-article-box-content">
                <input type="text" class="form-control" placeholder="输入新标签" name="tags" autocomplete="off">
                <span class="prompt-text">多个标签请用英文逗号,隔开</span> </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>标题图片</span></h2>
              <div class="add-article-box-content">
                 <img src="/static/{{user}}.jpg" width="263px" height="160px" id="img">
              </div>
              <div class="add-article-box-footer">
                <a href="javascript:void(0);" class="file">上传图片
                                <input type="file" name="title_img" accept="image/png,image/jpeg" id="file1"></a>
              </div>
            </div>
            <script>
                    $(function(){
                        //$("#img").attr("src",he)
                        $("#file1").on('change',function(){
                            var file_info = $("input[name='title_img']")[0].files[0]
                            console.log(file_info.name)
                            $("#img").attr("src","/static/"+file_info.name+"")
                            var reader = new FileReader();
                            reader.readAsDataURL(file_info);
                            reader.onloadend=function(e){
                                $("#img").attr("src",e.target.result)
                            }
                        })
                    }) 
                </script>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>发布</span></h2>
              <div class="add-article-box-content">
              	<p><label>状态：</label><span class="article-status-display">未发布</span></p>
                <p><label>公开度：</label><input type="radio" name="visibility" value="0" checked/>公开 <input type="radio" name="visibility" value="1" />加密</p>
                <p><label>发布于：</label><span class="article-time-display"><input style="border: none;" type="datetime" name="time" value="2016-01-09 17:29:37" /></span></p>
              </div>
              <div class="add-article-box-footer">
                <button class="btn btn-primary" type="submit" name="submit">发布</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
{% endblock %}
{% block script %}
<div class="modal fade user-select" id="areDeveloping" tabindex="-1" role="dialog" aria-labelledby="areDevelopingModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="areDevelopingModalLabel" style="cursor:default;">该功能正在日以继夜的开发中…</h4>
      </div>
      <div class="modal-body"> <img src="/static/admin/images/baoman/baoman_01.gif" alt="深思熟虑" />
        <p style="padding:15px 15px 15px 100px; position:absolute; top:15px; cursor:default;">很抱歉，程序猿正在日以继夜的开发此功能，本程序将会在以后的版本中持续完善！</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">朕已阅</button>
      </div>
    </div>
  </div>
</div>
<!--右键菜单列表-->
<div id="rightClickMenu">
  <ul class="list-group rightClickMenuList">
    <li class="list-group-item disabled">欢迎访问异清轩博客</li>
    <li class="list-group-item"><span>IP：</span>172.16.10.129</li>
    <li class="list-group-item"><span>地址：</span>河南省郑州市</li>
    <li class="list-group-item"><span>系统：</span>Windows10 </li>
    <li class="list-group-item"><span>浏览器：</span>Chrome47</li>
  </ul>
</div>
<script src="/static/admin/js/bootstrap.min.js"></script> 
<script src="/static/admin/js/admin-scripts.js"></script>
<script src="/static/admin/lib/ueditor/ueditor.config.js"></script> 
<script src="/static/admin/lib/ueditor/ueditor.all.min.js"> </script> 
<script src="/static/admin/lib/ueditor/lang/zh-cn/zh-cn.js"></script>  
<script id="uploadEditor" type="text/plain" style="display:none;"></script>
<script>
    $(function(){
      $("#fb").on('click',function(){
          var bt_name = $("input[name='title']").val()      
          var describe = $("textarea[name='describe']").val()
          var title_img = $("input[name='title_img']").val()
          var mark_file = $("#md_file").val()
          if (bt_name==""||(bt_name.length<4)){
              alert("请输入标题或者文章的标题长度必须大于4")
              return false
          }else if(mark_file=""){
            alert("请选择上传的markdown文件")
            return false
          }else if(describe==""){
            alert("请输入文章的介绍")
          }
          else if(title_img==""){
            alert("请选择标题图片")
            return false
          }
          $("input[type='submit']").click()
      })
    })
</script>
{% endblock script %}